<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletConfigUsingXML</display-name>
  
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>in.lalit.controller.TestServlet</servlet-class>
    <init-param>
    <param-name>url</param-name>
    <param-value>jadc:mysql://localhost:3306/apple</param-value>
    </init-param>
    <init-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
    </init-param>
    <init-param>
    <param-name>password</param-name>
    <param-value>lalit</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>in.lalit.controller.DemoServlet</servlet-class>
    
     <init-param>
    <param-name>lalit</param-name>
    <param-value>kalitakuchi</param-value>
    </init-param>
    <init-param>
    <param-name>apple</param-name>
    <param-value>red</param-value>
    </init-param>
    <init-param>
    <param-name>grapes</param-name>
    <param-value>green</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
</web-app>